main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

section {
    display: flex;
    height: 100%;
}

.favorite-section { 
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section {
    /* border: 1px solid blue; */
    width: 70%;
    flex-direction: column;
    position: relative;
}

.form-button-container {
    border-radius: 1em;
    border: 1px solid transparent;
    background: linear-gradient(146deg, rgba(164, 164, 187, 0.26) 0%, rgba(138, 169, 236, 0.1) 98%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right:0;
    top:39%;
    width: 40%;
    padding: 2%;
    transition: border 300ms 40ms linear;
}

.form-button-container:hover {
    border: 1px solid rgba(164, 164, 187, 0.6);
}