main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

section {
    display: flex;
    place-items: center;
}

.favorite-section {
    border: 1px solid black;
    width: 30%;
}

.card-section {
    border: 1px solid blue;
    width: 70%;
    flex-direction: column;
}

.input-section {
    border: 1px solid green;
}

.form-button-container {
    border: 1px solid purple;
}