.top-segment {
    display: flex;
    height: 25vh;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.top-section {
    padding: 8%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* border: solid purple; */
    width: 100%;
}

.left, .right {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    text-align: start;
}

.current-condition-icon {
    display: flex;
    /* border: solid red; */
    padding: 15%;
}

