.top-segment {
    display: flex;
    height: 25vh;
}

.top-section {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: solid purple;
    width: 100%;
}

.left, .right {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
}

