.card-container {
    display: flex;
    flex-direction: column;
    overflow: none;
}

.card {
    flex-wrap: wrap;
}

.hourly {
    border: 1px solid blue;
    overflow: auto;
    width: 30vw;
}

.hourly ul {
    display: flex;
    border: 1px solid orange;
}

.hourly ul > li {
    list-style-type: none;
}

/* bottom segment */
.bottom-segment {
    border: 1px solid yellow;
}