.card-container {
    display: flex;
    flex-direction: column;
    overflow: none;
}

.card {
    flex-wrap: wrap;
}

/* bottom segment */
.bottom-segment {
    /* border: 1px solid yellow; */
    display: flex;
}
.bottom-section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
}

/* left bottom section */

.left-bottom-section {
    max-width:  50%;
    padding: 2%;
    justify-content: space-around;
}

.left-bottom-section > div {
    margin-bottom: 2%;
    height: 30%;
}

/* hourly forecast */

.hourly {
    border: 1px solid rgb(58, 136, 238);
    scrollbar-width: thin;
    scrollbar-color: #95abe9 #acc6ff;
    overflow: auto;
    scroll-behavior: smooth;  
}

.hourly ul {
    display: flex;
    margin: 0 auto;
}

.hourly ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

/* daily forecast */

.daily {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*  */

.sunset-sunrise-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sun-section {
    /* border: 1px solid yellow; */
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sun-icon {
    font-size: 4em;
}

/* right bottom section */

.right-bottom-section {
    justify-content:flex-end;
    /* border: 1px solid purple; */
    width:  100%;
}

.squares-container {
    display: flex;
    flex-wrap: wrap;
    /* border: solid yellow; */
    height: 30vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

/* square card */
.square-card {
    width:42%;
    height: 40%;
    margin-inline-start: 3%;
    margin-inline-end: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linear-gradient {
    border: 1px solid rgba(100, 100, 100, 0.37);
    border-radius: 1em;
    box-shadow: 6px 10px 9px -6px rgba(30, 50, 117, 0.411);
    background: rgb(53,53,54);
    background: linear-gradient(146deg, rgba(53,53,54,0.26) 0%, rgba(239,244,255,0.1) 98%);
}