.App {
  border:1px solid rgb(141, 202, 255);
  border-radius: 2em;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 1rem;
  overflow: none;
  display: flex;
  place-items: center;

  box-shadow: 10px 10px 200px 0px rgba(255, 255, 255, 0.747);

  background: rgb(142,177,213);
  background: linear-gradient(30deg, rgba(142,177,213,1) 0%, rgba(130,162,215,1) 17%, rgba(138,170,232,1) 33%, rgba(174,200,255,1) 61%, rgba(201,218,255,1) 97%, rgba(214,229,255,1) 100%);
}
