@media (min-width: 1280px) {
  .App {
    border:1px solid rgb(163, 183, 201);
    border-radius: 2em;
    max-width: 98%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1rem;
    overflow: none;
    display: flex;
    place-items: center;
    min-height: 30vh;
    box-shadow: 10px 10px 200px 0px rgba(255, 255, 255, 0.747);
    /* background: rgb(142,177,213); */
    /* background: linear-gradient(30deg, rgb(142, 164, 213, 0.3) 0%, rgba(130,162,215,0.3) 17%, rgba(138,170,232,0.3) 33%, rgba(174,200,255,0.3) 61%, rgba(201,218,255,0.3) 97%, rgba(214,229,255,0.3) 100%); */
    background: linear-gradient(146deg, rgba(41, 41, 43, 0.35) 0%, rgba(239,244,255,0.45) 98%);
  }
}
/* --------------------------------------end large---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mid-large------------------- */

@media (min-width: 880px) and (max-width: 1280px) {
  .App {
    border:1px solid rgb(163, 183, 201);
    border-radius: 2em;
    max-width: 98%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1rem;
    overflow: none;
    display: flex;
    place-items: center;
    min-height: 30vh;
    box-shadow: 10px 10px 200px 0px rgba(255, 255, 255, 0.747);
    /* background: rgb(142,177,213); */
    /* background: linear-gradient(30deg, rgb(142, 164, 213, 0.3) 0%, rgba(130,162,215,0.3) 17%, rgba(138,170,232,0.3) 33%, rgba(174,200,255,0.3) 61%, rgba(201,218,255,0.3) 97%, rgba(214,229,255,0.3) 100%); */
    background: linear-gradient(146deg, rgba(41, 41, 43, 0.35) 0%, rgba(239,244,255,0.45) 98%);
  }
}
/* --------------------------------------end mid-large---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mid------------------- */

@media (min-width: 403px) and (max-width: 880px) {
  .App {
    border:1px solid rgb(163, 183, 201);
    border-radius: 2em;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 1rem;
    overflow: none;
    display: flex;
    place-items: center;
    min-height: 80vh;
    box-shadow: 10px 10px 200px 0px rgba(255, 255, 255, 0.747);
    /* background: rgb(142,177,213); */
    /* background: linear-gradient(30deg, rgb(142, 164, 213, 0.3) 0%, rgba(130,162,215,0.3) 17%, rgba(138,170,232,0.3) 33%, rgba(174,200,255,0.3) 61%, rgba(201,218,255,0.3) 97%, rgba(214,229,255,0.3) 100%); */
    background: linear-gradient(146deg, rgba(41, 41, 43, 0.35) 0%, rgba(239,244,255,0.45) 98%);
  }
}
/* --------------------------------------end mid---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (max-width: 403px) {
  .App {
    border:1px solid rgb(163, 183, 201);
    border-radius: 2em;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 1rem;
    overflow: none;
    display: flex;
    place-items: center;
    min-height: 80vh;
    box-shadow: 10px 10px 200px 0px rgba(255, 255, 255, 0.747);
    /* background: rgb(142,177,213); */
    /* background: linear-gradient(30deg, rgb(142, 164, 213, 0.3) 0%, rgba(130,162,215,0.3) 17%, rgba(138,170,232,0.3) 33%, rgba(174,200,255,0.3) 61%, rgba(201,218,255,0.3) 97%, rgba(214,229,255,0.3) 100%); */
    background: linear-gradient(146deg, rgba(41, 41, 43, 0.35) 0%, rgba(239,244,255,0.45) 98%);
  }
    
}
/* --------------------------------------end mobile---------------- */
/* ---------------------------------------------------------------- */


