:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: url('https://images.unsplash.com/photo-1529647549218-0600d73bdfee?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: rgb(53,53,54);
  background: linear-gradient(146deg, rgba(53,53,54,0.26) 0%, rgba(239,244,255,0.1) 98%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #6f73a1;
}
button:focus,
button:focus-visible {
  outline: 1px solid rgb(197, 197, 197);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.display-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.no-overflow {
  overflow-x: auto;
}

.max-width {
  max-width: 100%;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.gap-1vw {
  gap: 1vw;
}

.width-50 {
  width: 50%;
}